html,
body {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	background: #000;
}

.no-scroll {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1460px + 30px;
	margin: 0 auto;
	padding: 0px 15px; // отступы безопасности

	@media (max-width: 1465px) {
		max-width: 1200px;
	}
}

.container--wide {
	max-width: 1757px + 30px;

	@media (max-width: 1465px) {
		max-width: 1300px;
	}
}

.main {
	flex: 1 1 auto;
}

.subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px / 18px * 100%;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #ffc178;
	position: relative;
	padding-left: 104px;

	&::before {
		content: "";
		position: absolute;
		width: 72px;
		height: 2px;
		left: 0px;
		top: 10px;
		background: #ffc178;

		@media (max-width: 480px) {
			width: 30px;
		}
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}

	@media (max-width: 480px) {
		padding-left: 45px;
	}
}

.title {
	font-weight: 700;
	font-size: 64px;
	line-height: 87px / 64px * 100%;

	@media (max-width: 768px) {
		font-size: 55px;
	}

	@media (max-width: 480px) {
		font-size: 40px;
	}
}

.link {
	display: inline-flex;
	align-items: center;
	border-bottom: 1px solid transparent;

	span {
		font-weight: 700;
		line-height: 25px / 18px * 100%;
		color: #fbd784;

		&:not(:last-child) {
			margin-right: 9px;
		}
	}

	svg {
		width: 24px;
		height: 16px;
	}

	&:hover {
		border-color: #fbd784;
	}
}
