.culture {
	padding-bottom: 250px;

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		flex: 0 1 47%;
		padding: 115px 0px 115px 43px;

		&:not(:last-child) {
			margin-right: 20px;
		}

		& > * + * {
			margin-top: 27px;
		}
	}

	&__subtitle {
	}

	&__title {
		max-width: 555px;
	}

	&__descr {
	}

	&__link {
	}

	&__image {
		flex: 0 1 40%;
	}
}
