.culture {
	padding-bottom: 250px;

	@media (max-width: 1000px) {
		padding-bottom: 125px;
	}

	@media (max-width: 480px) {
		padding-bottom: 80px;
	}

	&__body {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1465px) {
			align-items: center;
		}

		@media (max-width: 1000px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 47%;
		padding: 115px 0px 115px 43px;

		@media (max-width: 1465px) {
			padding: 0px 0px 0px 43px;
		}

		@media (max-width: 1000px) {
			flex: 0 1 100%;
			padding: unset;
		}

		&:not(:last-child) {
			margin-right: 20px;

			@media (max-width: 1000px) {
				margin: 0px 0px 40px 0px;
			}
		}

		& > * + * {
			margin-top: 27px;
		}
	}

	&__subtitle {
	}

	&__title {
		max-width: 555px;

		@media (max-width: 1000px) {
			max-width: 100%;
		}
	}

	&__descr {
	}

	&__link {
	}

	&__image {
		flex: 0 1 40%;

		@media (max-width: 1465px) {
			height: 720px;
			flex: 0 1 50%;

			img {
				object-fit: cover;
			}
		}

		@media (max-width: 1000px) {
			flex: 0 1 100%;
			height: 500px;
		}

		@media (max-width: 480px) {
			height: 400px;
		}
	}
}
