.first {
	position: relative;
	padding: 287px 0px 1935px;

	@media (max-width: 1465px) {
		padding: 220px 0px 1490px;
	}

	@media (max-width: 1000px) {
		padding: 190px 0px 1330px;
	}

	@media (max-width: 768px) {
		padding: 125px 0px 1330px;
		margin-top: -85px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			//object-position: top;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__info {
		display: flex;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 125px;

			@media (max-width: 1465px) {
				margin-bottom: 50px;
			}
		}
	}

	&__social {
		padding-top: 72px;

		@media (max-width: 768px) {
			padding-top: 60px;
		}

		&:not(:last-child) {
			margin-right: 396px;

			@media (max-width: 1465px) {
				margin-right: 275px;
			}

			@media (max-width: 1000px) {
				margin-right: 158px;
			}

			@media (max-width: 768px) {
				margin-right: 100px;
			}

			@media (max-width: 480px) {
				margin-right: 15px;
			}
		}
	}

	&__content {
	}

	&__link {
		display: inline-flex;
		transition: all 0.3s;
		align-items: center;
		transition: all 0.3s;

		span {
			line-height: 25px / 18px * 100%;

			&:not(:last-child) {
				margin-right: 9px;
			}
		}

		svg {
			width: 16px;
			height: 24px;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}

.first-social {
	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		writing-mode: vertical-rl;
		line-height: 25px / 18px * 100%;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__list {
	}

	&__item {
		width: 20px;
		height: 20px;
		transition: all 0.3s;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}

.first-content {
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__title {
		max-width: 756px;
		font-weight: 400;
		font-size: 88px;
		line-height: 104%;

		span {
			font-weight: 700;
			font-size: 96px;

			@media (max-width: 768px) {
				font-size: 70px;
			}

			@media (max-width: 480px) {
				font-size: 55px;
			}
		}

		@media (max-width: 768px) {
			max-width: 535px;
			font-size: 60px;
		}

		@media (max-width: 480px) {
			font-size: 45px;
		}
	}
}
