.fort {
	margin-top: -1204px;
	padding-bottom: 250px;
	position: relative;
	z-index: 1;

	@media (max-width: 1000px) {
		padding-bottom: 125px;
	}

	@media (max-width: 480px) {
		padding-bottom: 80px;
	}

	&__body {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1000px) {
			flex-wrap: wrap-reverse;
		}
	}

	&__image {
		//flex: 0 1 598px;
		flex: 0 1 41%;

		&:not(:last-child) {
			margin-right: 20px;

			@media (max-width: 1000px) {
				margin-right: unset;
			}
		}

		@media (max-width: 1200px) {
			flex: 0 1 50%;
		}

		@media (max-width: 1000px) {
			flex: 0 1 100%;
			height: 500px;

			img {
				object-fit: cover;
				//object-position: bottom;
			}
		}

		@media (max-width: 480px) {
			height: 400px;
		}
	}

	&__content {
		//flex: 0 1 632px;
		flex: 0 1 43%;
		padding: 87px 0px;

		& > * + * {
			margin-top: 27px;
		}

		@media (max-width: 1000px) {
			flex: 0 1 100%;
			padding: 40px 0px;
		}
	}

	&__subtitle {
	}

	&__title {
	}

	&__descr {
	}

	&__link {
	}
}
