/* Мои обнуляющие стили */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

//обращение ко всем ссылкам, у которых есть класс
a[class] {
	text-decoration: none;
	color: inherit;

	&:active {
		color: inherit;
	}
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style-type: none; // убрать кружочки перед пунктами списка
}
